@*
/*********************************************************************
 *
 * PROPRIETARY and CONFIDENTIAL
 *
 * This is licensed from, and is trade secret of:
 *
 *          Group 10 - PRN231 - SU23
 *          FPT University, Education and Training zone
 *          Hoa Lac Hi-tech Park, Km29, Thang Long Highway
 *          Ha Noi, Viet Nam
 *
 * Refer to your License Agreement for restrictions on use,
 * duplication, or disclosure
 *
 * RESTRICTED RIGHTS LEGEND
 *
 * Use, duplication or disclosure is the
 * subject to restriction in Articles 736 and 738 of the
 * 2005 Civil Code, the Intellectual Property Law and Decree
 * No. 85/2011/ND-CP amending and supplementing a number of
 * articles of Decree 100/ND-CP/2006 of the Government of Viet Nam
 *
 *
 * Copy right 2023 © PRN231 - SU23 - Group 10 ®. All Rights Reserved
 *
 * Unpublished - All rights reserved under the copyright laws
 * of the Government of Viet Nam
*********************************************************************/*@

@{
    Layout = "_Layout";
}

<form style="margin: 10px" asp-controller="User" asp-action="DoChangePass">
    <label>Current password</label>
    <input name="passwordModel.CurrentPassword" required type="password" class="form-control" /> <br />
    <label>New password</label>
    <input name="passwordModel.Password" required class="form-control" id="password" type="password" /> <br />
    <label>Re-enter new password</label>
    <input name="passwordModel.RePassword" required class="form-control" id="rePassword" type="password" /> <br />
    <input class="btn btn-primary" onclick="checkPasswordMatch()" value="Save" type="submit" />
</form>
<div id="message" class="text-danger"></div>
@{
    if (ViewBag.ChangeFail != null)
    {
        <span class="text-danger">@ViewBag.ChangeFail</span>
    }
    if (ViewBag.ChangeSuccess != null)
    {
        <span class="text-success">@ViewBag.ChangeSuccess</span>
    }
}
<script>
    function checkPasswordMatch() {
        const password = document.getElementById('password').value;
        const rePassword = document.getElementById('rePassword').value;
        const messageElement = document.getElementById('message');

        const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;

        if (passwordPattern.test(password)) {
            if (password === rePassword) {
                messageElement.textContent = "re password doesnot match with password.";
            } else {.
                messageElement.textContent = "re password doesnot match with password";
            }
        } else {
            messageElement.textContent = "password is invalid. password must be at least 6 charactes, have both upper case, lower case and number";
        }
    }
</script>