@import '/node_modules/office-ui-fabric-core/dist/sass/Fabric.scss';
@import '/node_modules/office-ui-fabric-core/dist/sass/Grid';

.container-home {
    margin-left: 300px;
    .item-first {
        a img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            background-color: #f1f1f1;
            bottom: 0;
        }
        .content-body {
            float: right;
            margin-right: 850px;
            max-width: 150px;
            overflow: hidden;
        }
    }
    .item-sub{

    }
}
