.container {
    width: 1150px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.list_f_flex {
    display: flex;
}
.list_f {
    margin-bottom: 40px;
}
