.header_top_nav {
    list-style: none;
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
    }
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-top_nav-item {
    margin-right: 17px;
}
