﻿@*
/*********************************************************************
 *
 * PROPRIETARY and CONFIDENTIAL
 *
 * This is licensed from, and is trade secret of:
 *
 *          Group 10 - PRN231 - SU23
 *          FPT University, Education and Training zone
 *          Hoa Lac Hi-tech Park, Km29, Thang Long Highway
 *          Ha Noi, Viet Nam
 *
 * Refer to your License Agreement for restrictions on use,
 * duplication, or disclosure
 *
 * RESTRICTED RIGHTS LEGEND
 *
 * Use, duplication or disclosure is the
 * subject to restriction in Articles 736 and 738 of the
 * 2005 Civil Code, the Intellectual Property Law and Decree
 * No. 85/2011/ND-CP amending and supplementing a number of
 * articles of Decree 100/ND-CP/2006 of the Government of Viet Nam
 *
 *
 * Copy right 2023 © PRN231 - SU23 - Group 10 ®. All Rights Reserved
 *
 * Unpublished - All rights reserved under the copyright laws
 * of the Government of Viet Nam
*********************************************************************/
*@
@using ElectronicWeb.Models;
@using ElectronicMedia.Core.Repository.Entity;
@using ElectronicMedia.Core.Common;
@using ElectronicMedia.Core.Repository.Models;

@{
    Layout = "_AdminLayout";
}
@{
    TokenUIModel user = ViewBag.User;
    List<PostCategory> categories = ViewBag.Category;
    List<PostCategory> subCategories = ViewBag.SubCategory;
    var cate = categories.FirstOrDefault(x => x.Id == Model.CategoryId);
    var sub = subCategories.FirstOrDefault(x => x.Id == Model.SubCategoryId);
}
@model PostViewModel;

<form asp-controller="Post" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="form-group row">
        <label for="inputEmail3" class="bold-label col-sm-2 col-form-label">Title</label>
        <div class="col-sm-9">
          
            <input asp-for=UserId type="hidden" class="form-control" value="@Model.UserId">
            @if (user.RoleName == UserRole.Admin || user.RoleName == UserRole.Leader || user.RoleName == UserRole.EditorDirector || (user.RoleName == UserRole.Writer && Model.Status.ToString() != "Pending"))
            {
                <h6>@Model.Title</h6>
                <input asp-for=Title type="hidden" class="form-control" value="@Model.Title" placeholder="Title">
                
            }
            else
            {
                <input asp-for=Title  type="text" class="form-control" value="@Model.Title" placeholder="Title">
                <br />
            }
           
            <input asp-for=CreatedDate type="hidden" class="form-control" value="@Model.CreatedDate">
            <input asp-for=PublishedDate type="hidden" class="form-control" value="@Model.PublishedDate">
            <input asp-for=Rate type="hidden" class="form-control" value="@Model.Rate">
            <input asp-for=Like type="hidden" class="form-control" value="@Model.Like">
            <input asp-for=Dislike type="hidden" class="form-control" value="@Model.Dislike">
            <input asp-for=Image type="hidden" value="@Model.Image"  />
            <img  src="@Model.Image" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="bold-label col-sm-2 col-form-label">Description</label>
        <div class="col-sm-9">

            @if (user.RoleName == UserRole.Admin || user.RoleName == UserRole.Leader || user.RoleName == UserRole.EditorDirector || (user.RoleName == UserRole.Writer && Model.Status.ToString() != "Pending"))
            {
                <p>@Model.Description</p>
                <input asp-for=Description type="hidden" class="form-control" value="@Model.Description" />
            }
            else
            {
                <textarea asp-for=Description class="form-control" placeholder="Content here..." rows="5">@Model.Description</textarea>
                <br />
            }


        </div>
    </div>
    <div class="form-group row">
        <label class="bold-label col-sm-2 col-form-label">Content</label>
        <div class="col-sm-9">

            @if (user.RoleName == UserRole.Admin || user.RoleName == UserRole.Leader || user.RoleName == UserRole.EditorDirector || (user.RoleName == UserRole.Writer && Model.Status.ToString() != "Pending"))
            {
                <p>@Html.Raw(@Model.Content)</p>
                <input asp-for=Content type="hidden" class="form-control" value="@Model.Content"/>
            }else{
                <textarea asp-for=Content class="form-control" placeholder="Content here..." id="textarea" rows="15">@Html.Raw(@Model.Content)</textarea>
                <br />
            }

           
        </div>
    </div>

    @if (user.RoleName == UserRole.Writer && Model.Status.ToString() == "Pending")
    {
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Image Avatar Post</label>
            <div>
                <img id="selectedImage" src="#" alt="Selected Image" style="display: none; max-width: 100%; height: auto;" />
                <input type="file" id="imageInput" accept="image/*" />
                <button id="removeImageBtn" class="btn btn-danger mt-2" style="display: none;">Remove Image</button>
            </div>
        </div>
        <br />
    }
    <div class="form-group row">
        <label for="category" class="bold-label col-sm-2 col-form-label">Post Category</label>
        <div class="col-sm-9" style="margin-top:10px; margin-bottom:10px">
            @if (user.RoleName == UserRole.Admin || user.RoleName == UserRole.Leader || user.RoleName == UserRole.EditorDirector || (user.RoleName == UserRole.Writer && Model.Status.ToString() != "Pending"))
            {
                <p>@cate.Name</p>
                <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId" />
            }
            else
            {
                <select asp-for="CategoryId" id="category" class="form-select" style="height:70%">
                    @foreach (PostCategory pc in categories)
                    {
                        if (pc.Id == Model.CategoryId)
                        {
                            <option value="@pc.Id" selected> @pc.Name</option>
                        }
                        else
                        {
                            <option value="@pc.Id"> @pc.Name</option>
                        }
                    }

                </select>
                <br />
            }
            
        </div>
    </div>

    <div class="form-group row">
        <label for="subCategory" class="bold-label col-sm-2 col-form-label">Sub Category</label>
        <div class="col-sm-9" style="margin-top:10px; margin-bottom:10px">

            @if (user.RoleName == UserRole.Admin || user.RoleName == UserRole.Leader || user.RoleName == UserRole.EditorDirector || (user.RoleName == UserRole.Writer && Model.Status.ToString() != "Pending"))
            {
                <label>@(sub ==null?"None": sub.Name)</label>
                <input asp-for="SubCategoryId"  type="hidden" value="@Model.SubCategoryId" />
            }
            else
            {
                <select asp-for="SubCategoryId" id="subCategory" class="form-select" style="height:70%">

                    @foreach (PostCategory pc in ViewBag.SubCategory)
                    {
                        if (pc.ParentId == Model.CategoryId)
                        {
                            if (pc.Id == Model.SubCategoryId)
                            {
                                <option value="@pc.Id" selected> @pc.Name</option>
                            }
                            else
                            {

                                <option value="@pc.Id"> @pc.Name</option>
                            }

                        }

                    }
                    <option selected="@(Model.SubCategoryId ==null?true:false)">None</option>

                </select>
                <br />
            }
           
        </div>
    </div>
    <div class="form-group row">
        <label for="status" class="bold-label col-sm-2 col-form-label">Status</label>
        <div class="col-sm-9" style="margin-top:10px; margin-bottom:10px">
            @if (user.RoleName == UserRole.Writer)
            {
                <label style="color:deepskyblue">@Model.Status</label>
                <input asp-for=Status type="hidden" readonly value="@Model.Status" />
            }
            else if (user.RoleName == UserRole.Leader)
            {
                <select asp-for="Status" id="status" class="form-select" style="height:70%">
                    <option value="0" selected="@(Model.Status.ToString() == "Pending" ? true : false)">Pending</option>
                    <option value="1" selected="@(Model.Status.ToString() == "Approved" ? true : false)">Approved</option>
                    <option value="3" selected="@(Model.Status.ToString() == "Denied" ? true : false)">Denied</option>
                </select>
                <br />
            }
            else if (user.RoleName == UserRole.Admin || user.RoleName == UserRole.EditorDirector)
            {
                <select asp-for="Status" class="form-select" id="status" style="height:70%">
                    <option value="0" selected="@(Model.Status.ToString() == "Pending" ? true : false)">Pending</option>
                    <option value="1" selected="@(Model.Status.ToString() == "Approved" ? true : false)">Approved</option>
                    <option value="2" selected="@(Model.Status.ToString() == "Published" ? true : false)">Published</option>
                    <option value="3" selected="@(Model.Status.ToString() == "Denied" ? true : false)">Denied</option>
                </select>
                <br />
            } 
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
   
            @if ((user.RoleName == UserRole.Writer && Model.Status.ToString() == "Pending") || user.RoleName != UserRole.Writer)
            {
                <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
            }
           
      
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-9">
            <span style="color:red"> @TempData["message"]</span>
        </div>

    </div>
</form>
<div>
    <a asp-controller="Post" asp-action="Index" class="text-success"><i class="bi bi-arrow-return-left"></i> Back to list</a>
</div>
<style>
    .bold-label {
        font-weight: bold;
    }
    #select {
        cursor: pointer;
    }

    select {
        background: white;
        border: 1px solid gray;
        border-radius: 7px;
        width: 300px;
        height: 30px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/subCategory.js">  </script>