<div class="container-login">
    <h1>Forgot Password</h1>
    <form>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <input type="submit" class="btn-login" value="Send Password">
        </div>
    </form>
</div>