.header_top {
    background: #fff;
}
.header_container {
    width: 1630px;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
}
.header__top_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__tf_left {
    flex: 1;
    display: flex;
    align-items: center;
}
.header__tf_menu {
    display: flex;
    margin-right: 24px;
    cursor: pointer;
}
.header__tf_search {
    width: 260px;
}
.box_search {
    display: flex;
    position: relative;
}
.btn_search {
    height: 36px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 0 10px 0 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #8b8b8b;
}
.submit_search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 8px;
    top: 5px;
}
